bootstrap/cache/services.php

storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/media-library/*

vendor/**/test*
vendor/**/tests*
vendor/**/Tests*

# need to keep node_modules in the image because we need to rebuild frontend on install
# and don't have internet access to run npm ci again
#**/*node_modules

**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
*.env*

*.config.js
?ulpfile.js
?untfile.js
package.json
phpunit.xml
readme.md
phpspec.yml

Dockerfile*
docker-compose.yml
run
run.ps1

code/
code/*
